body{
	background-color: #f3f3f3 !important;
}
.first-color { 
	background: #cefff1;
}
	
.second-color { 
	background: #ace7ef; 
}

.third-color { 
	background: #97db93; 
}

.fourth-color { 
	background: #a56cc1; 
}
.pri{
	background: #8ed492;
}
.carol-img{
	height: 550px; 
	background-size: cover;
}
.nav-col{
	background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}
.accordion-button:not(.collapsed) {
    color: black!important;
    background-color: #9fe292!important;
	box-shadow: none!important;
}
.nav-item:hover{
	background-color: #63b292;
}
.accordion-button:focus {
	box-shadow: none!important;
}
.accordion, .yt-channel, .card-style{
	border-radius: 20px!important;
	box-shadow: 10px 10px 10px #9fe292;
}
.prof-img{
	box-shadow: 10px 10px #acec92;
	border-radius: 20px;
	width: 13rem;
}
.img-prop{
	position: relative;
	height: 250px !important;
	width: 200px !important;
}
.contain{
	overflow: hidden;
	height: 200px !important;
	width: 200px !important;
	background-image: cover;
}
.municipal-img{
	height: 200px !important;
}
.main-pic, .main-pic1{
	height: 360px;
	width: 100%;
}
@media only screen and (max-width: 1026px) {
	.map-size{
		width: 400px;
		height: 300px !important;
	}
	.main-pic1{
		height: 240px;
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.map-size{
		width: 400px;
		height: 370px !important;
	}
	.main-pic, .main-pic1{
		height: 260px;
		width: 100%;
	}
	.carol-img{
		height: 296px!important;
		object-fit: cover!important;
	}
	.carousel-caption{
		font-size: 12px !important;
	}
	.img-prop{
		position: relative;
		height: 250px !important;
		width: 200px !important;
	}
	.contain{
		overflow: hidden;
		height: 200px !important;
		width: 200px !important;
		background-image: cover;
	}
	.position, .name{
		font-size: medium !important;
	}
  }

@media only screen and (max-width: 430px) {
	.main-pic1{
		height: 240px;
		width: 100%;
	}
	.intro-mess{
		font-size: 15px !important;
	}
	.municipal-img{
		height: 170px !important;
	}
	.municipal-name{
		font-size: 18px;
	}
	.municipal-des{
		font-size: 14px;
	}
	.btn-visit{
		font-size: 13px !important;
	}
	.yt-channel{
		height: 256px!important;
		width: 100%!important;
	}
	.carol-img{
		height: 236px!important;
		object-fit: cover!important;
	}
	.carousel-caption{
		font-size: 10px !important;
	}
	.img-prop{
		position: relative;
		height: 125px !important;
		width: 100px !important;
	}
	.contain{
		overflow: hidden;
		height: 100px !important;
		width: 100px !important;
		background-image: cover;
	}
	.position, .name{
		font-size: medium !important;
	}
}

@media only screen and (max-width: 320px) {
	small{
		font-size: small !important;
	}
	.main-pic1{
		height: 160px;
		width: 100%;
	}
	.map-size{
		width: 300px;
		height: 300px !important;
	}
	.intro-mess{
		font-size: 14px !important;
	}
	.carol-img{
		height: 200px!important;
		object-fit: cover!important;
	}
	.img-prop{
		position: relative;
		height: 125px !important;
		width: 100px !important;
	}
	
	.contain{
		overflow: hidden;
		height: 100px !important;
		width: 100px !important;
		background-image: cover;
	}
	.position, .name{
		font-size: large !important;
	}
	
}